*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Segoe UI',sans-serif;

    background:#f4f7fb;

}

/* =========================
        HERO DASHBOARD
========================= */

.hero{

    min-height:650px;

    background:

    linear-gradient(

        rgba(0,0,0,.60),

        rgba(0,0,0,.60)

    ),

    url("/static/images/kampus.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:80px 20px;

}


.hero-content{

    text-align:center;

    color:white;

    width:90%;

    max-width:900px;

}

/* Judul */

.hero-content h1{

    font-size:48px;

    font-weight:700;

    color:white !important;

}

/* Deskripsi */

.hero-content p{

    font-size:20px;

    margin-top:15px;

    margin-bottom:35px;

    color:white !important;

}

/* =========================
        UPLOAD BOX
========================= */


/* =========================
        UPLOAD BOX
========================= */

.upload-box{

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(8px);

    -webkit-backdrop-filter:blur(8px);

    padding:30px;

    border-radius:20px;

    border:1px solid rgba(255,255,255,0.2);

    box-shadow:

    0 10px 30px rgba(0,0,0,.25);

}


/* =========================
        STATISTIK
========================= */

.stats{

    margin-top:-50px;

    margin-bottom:50px;

}

.stats .card{

    border:none;

    border-radius:20px;

    text-align:center;

    padding:30px;

    box-shadow:

    0 5px 20px rgba(0,0,0,.1);

    transition:.3s;

}

.stats .card:hover{

    transform:translateY(-5px);

}


.stats h2{

    color:#00b894;

    font-size:40px;

    font-weight:bold;

}

.stats p{

    font-size:18px;

}


/* =========================
        LOADING SCREEN
========================= */

#loading-screen{

    display:none;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;


    background:rgba(0,0,0,.85);

    z-index:99999;

    color:white;

    justify-content:center;

    align-items:center;

    flex-direction:column;

}


.loader{

    width:80px;

    height:80px;

    border:8px solid #ddd;

    border-top:8px solid #00ffae;

    border-radius:50%;

    animation:spin 1s linear infinite;

}

@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}


/* =========================
        HASIL SENTIMEN
========================= */

.stat-card{

    padding:25px;

    border:none;

    border-radius:15px;

    box-shadow:

    0 4px 20px rgba(0,0,0,.1);

}

.stat-card h2{

    font-size:42px;

    font-weight:bold;

    color:#222;

}

.stat-card p{

    font-size:18px;

}

.positif{

    background:#d4edda;

}

.negatif{

    background:#f8d7da;

}

.netral{

    background:#fff3cd;

}

/* =========================
        MENU
========================= */


.menu-card{

    display:block;

    padding:30px;

    text-align:center;

    text-decoration:none;

    font-size:22px;

    font-weight:bold;

    color:white;

    background:#0d6efd;

    border-radius:15px;

    transition:.3s;

}

.menu-card:hover{

    transform:translateY(-5px);

    background:#084298;

}

/* QR CODE DASHBOARD */

.qr-code{

    position:fixed;

    right:20px;

    bottom:20px;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(8px);

    padding:8px;

    border-radius:10px;

    z-index:999;

}

.qr-code img{

    width:60px;

    height:60px;

    display:block;

}

/* =========================
        BACKGROUND HASIL
========================= */

.result-page{

    min-height:100vh;

    background:

    linear-gradient(

        rgba(0,0,0,0.55),

        rgba(0,0,0,0.55)

    ),

    url("/static/images/fasilitas.jpg");

    background-size:cover;

    background-position:center;

    background-attachment:fixed;

    padding:50px 0;

}

/* Judul */

.result-page h1{

    color:white;

    font-weight:bold;

}

/* Card transparan */

.result-page .stat-card{

    background:rgba(255,255,255,0.18);

    backdrop-filter:blur(10px);

    -webkit-backdrop-filter:blur(10px);

    color:white;

    border:1px solid rgba(255,255,255,0.3);

}

.result-page .menu-card{

    background:rgba(255,255,255,0.18);

    backdrop-filter:blur(10px);

    color:white;

    border:1px solid rgba(255,255,255,0.3);

}

/* =========================
        BRAND NAVBAR
========================= */


.brand-ai{

    font-size:24px;

    font-weight:800;


    color:#ffffff !important;


    letter-spacing:1px;


    text-shadow:

    0 0 8px rgba(0,255,200,0.8);



    transition:.3s;

}



.brand-ai:hover{


    color:#00ffae !important;


    transform:scale(1.05);


}



/* Navbar lebih modern */

.navbar{


    background:

    linear-gradient(

        90deg,

        #063970,

        #00b894

    ) !important;


    padding:15px 0;


}

/* =========================
        GRAFIK PAGE
========================= */

.grafik-page{


    min-height:100vh;


    background:


    linear-gradient(

        rgba(5,20,40,0.65),

        rgba(5,20,40,0.65)

    ),



    url("/static/images/grafikk.jpg");



    background-size:cover;


    background-position:center;


    background-attachment:fixed;



    padding:50px 0;


}




.grafik-card{


    background:rgba(255,255,255,0.12);



    backdrop-filter:blur(15px);



    -webkit-backdrop-filter:blur(15px);



    border-radius:25px;



    padding:35px;



    border:

    1px solid rgba(255,255,255,.25);



    box-shadow:

    0 15px 40px rgba(0,0,0,.35);



    color:white;


}

.chart-box{


    height:300px;


    background:rgba(255,255,255,.10);



    padding:15px;


    border-radius:15px;


}



.grafik-card h2,
.grafik-card h5{


    color:white;


}

/* =========================
        WORDCLOUD PAGE
========================= */


.wordcloud-page{


    min-height:100vh;



    background:


    linear-gradient(

        rgba(20,10,50,0.75),

        rgba(20,10,50,0.75)

    ),



    url("/static/images/wordcloud.jpg");



    background-size:cover;



    background-position:center;



    background-attachment:fixed;



    padding:60px 0;



}



/* =========================
        MAIN CARD
========================= */


.wordcloud-card{


    background:

    rgba(255,255,255,0.12);



    backdrop-filter:blur(18px);



    -webkit-backdrop-filter:blur(18px);



    border-radius:30px;



    padding:40px;



    border:


    1px solid rgba(255,255,255,0.25);



    box-shadow:


    0 20px 50px rgba(0,0,0,.45);



    color:white;



}




.wordcloud-card h2{


    color:white;



    font-size:32px;



    font-weight:700;



    text-shadow:


    0 0 10px rgba(255,255,255,.4);



}





/* =========================
        WORD CARD
========================= */


.word-card{


    background:


    rgba(255,255,255,0.15);



    backdrop-filter:blur(12px);



    -webkit-backdrop-filter:blur(12px);



    border-radius:20px;



    padding:25px;



    height:100%;



    border:


    1px solid rgba(255,255,255,.25);



    box-shadow:


    0 10px 30px rgba(0,0,0,.25);



    transition:.3s;



}




.word-card:hover{


    transform:translateY(-8px);



    box-shadow:


    0 15px 40px rgba(0,0,0,.4);



}






.word-card h4{


    color:white;



    font-weight:bold;



    margin-bottom:20px;



}






/* =========================
        WORDCLOUD IMAGE
========================= */


.word-img{


    max-height:260px;



    width:auto;



    border-radius:15px;



    background:white;



    padding:10px;



}






/* tombol kembali */

.wordcloud-card .btn{


    border-radius:10px;



    padding:10px 25px;



}

/* =========================
        TABEL PAGE
========================= */


.tabel-page{


    min-height:100vh;



    background:



    linear-gradient(

        rgba(5,25,45,.70),

        rgba(5,25,45,.70)

    ),



    url("/static/images/tabel-bg.jpg");



    background-size:cover;



    background-position:center;



    background-attachment:fixed;



    padding:60px 0;



}





.tabel-card{


    background:rgba(255,255,255,0.12);



    backdrop-filter:blur(15px);



    -webkit-backdrop-filter:blur(15px);



    border-radius:25px;



    padding:35px;



    border:1px solid rgba(255,255,255,.3);



    box-shadow:


    0 15px 40px rgba(0,0,0,.35);



    color:white;


}





.tabel-card h2{


    color:white;


    font-weight:bold;



}





/* TABEL TRANSPARAN */


.tabel-custom{


    color:white;



    overflow:hidden;



    border-radius:15px;



}





.tabel-custom thead{


    background:rgba(255,255,255,.25);



}





.tabel-custom th{


    color:white;



    font-size:16px;



}





.tabel-custom td{


    background:rgba(255,255,255,.10);



    color:white;



    vertical-align:middle;



}





.tabel-custom tbody tr:hover{


    background:rgba(255,255,255,.15);



}

/* HEADER TABEL TRANSPARAN + BLUR */
table thead th {
    background: rgba(255, 255, 255, 0.08) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: black !important; /* sesuai permintaan kamu */
    border: none !important;
}


table {
    background: transparent !important;
}

table tbody tr {
    background: rgba(255, 255, 255, 0.04);
}

table tbody tr:hover {
    background: rgba(255, 255, 255, 0.10);
}

table td {
    border: none !important;
}

thead th {
    color: black !important;
}

/* =========================
   BACKGROUND GAMBAR DASHBOARD
   ========================= */

body {
    background: url('/static/images/tabel.jpg') no-repeat center center fixed;
    background-size: cover;
}