body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:20px;
}

h2{
    font-weight:bold;
}
body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:15px;
}

.title{
    text-align:center;
    font-weight:bold;
    margin-bottom:30px;
}

.qr{
    width:150px;
}