{% extends 'layout.html' %}

{% block content %}

<div class="card">

    <h1 class="title">
        Analisis Sentimen Mahasiswa MIPA
    </h1>

    <form method="POST" action="/upload" enctype="multipart/form-data">

        <label>Upload Dataset CSV</label>
        <input type="file" name="dataset" required>

        <button class="btn-primary">
            Mulai Analisis
        </button>

    </form>

</div>

<!-- QR -->
<div class="card qr-box">

    <h3>Akses via Smartphone</h3>

    <img src="/static/qrcode/ngrok_qr.png?v=5">

</div>

{% endblock %}