{% extends 'layout.html' %}

{% block content %}

<section class="hero">

    <div class="overlay"></div>

    <div class="hero-content">

        <h1>Analisis Sentimen Mahasiswa</h1>

        <p>
            Evaluasi fasilitas dan pelayanan Fakultas MIPA
            menggunakan NLP dan Artificial Intelligence
        </p>

        <div class="upload-box">

            <form
                action="/upload"
                method="POST"
                enctype="multipart/form-data"
                id="uploadForm">

                <input
                    type="file"
                    name="dataset"
                    class="form-control"
                    required>

                <br>

                <button
                    type="submit"
                    class="btn btn-success btn-lg">

                    Analisis Sentimen

                </button>

            </form>

        </div>

    </div>

</section>


<!-- Loading -->
<div id="loading-screen" style="display:none;">

    <div class="loader"></div>

    <h3>Memproses Analisis Sentimen...</h3>

    <p>
        Preprocessing → NLP → Sentimen →
        Grafik → WordCloud → Insight AI
    </p>

</div>


<script>

document.addEventListener("DOMContentLoaded", function(){

    const form = document.getElementById("uploadForm");

    if(form){

        form.addEventListener("submit", function(){

            document.getElementById("loading-screen")
            .style.display = "flex";

        });

    }

});

</script>

<!-- QR CODE NGROK -->

<div class="qr-code">

    <img 
    src="https://api.qrserver.com/v1/create-qr-code/?size=120x120&data=https://celtic-freeing-ungodly.ngrok-free.dev "
    alt="QR Code">

</div>

{% endblock %}