{% extends 'layout.html' %}

{% block content %}

<section class="result-page">

<div class="container mt-5">

    <div class="result-card">

        <h1 class="text-center mb-4 text-white">
            HASIL ANALISIS SENTIMEN
        </h1>

        <p class="text-center result-desc text-white">
            Hasil analisis data berdasarkan proses
            preprocessing teks dan klasifikasi sentimen
            menggunakan NLP.
        </p>

        <!-- STATISTIK -->
        <div class="row g-3 text-center mb-5">

            <div class="col-6 col-md-3">
                <div class="card stat-card">
                    <h2>{{ total }}</h2>
                    <p>Data Analisis</p>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="card stat-card positif">
                    <h2>{{ positif }}</h2>
                    <p>Positif</p>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="card stat-card negatif">
                    <h2>{{ negatif }}</h2>
                    <p>Negatif</p>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="card stat-card netral">
                    <h2>{{ netral }}</h2>
                    <p>Netral</p>
                </div>
            </div>

        </div>

        <!-- MENU -->
        <div class="row g-3">

            <div class="col-6 col-md-3">
                <a href="/grafik" class="menu-card">
                    Grafik
                </a>
            </div>

            <div class="col-6 col-md-3">
                <a href="/wordcloud" class="menu-card">
                    WordCloud
                </a>
            </div>

            <div class="col-6 col-md-3">
                <a href="/tabel" class="menu-card">
                    Tabel Hasil
                </a>
            </div>

            <div class="col-6 col-md-3">
                <a href="/insight" class="menu-card">
                    Insight AI
                </a>
            </div>

        </div>

    </div>

</div>

</section>

{% endblock %}