{% extends 'layout.html' %}

{% block content %}

<div class="result-header">
    <h1>Hasil Analisis Sentimen</h1>
    <p>Visualisasi & Insight dari data mahasiswa</p>
</div>

<!-- INSIGHT AI -->
<div class="glass-box">
    <h2>🧠 Insight AI</h2>
    <pre style="white-space:pre-line">{{ insight }}</pre>
</div>

<!-- MENU BUTTON (SEPERTI CARD) -->
<div class="menu-grid">

    <a href="/grafik" class="menu-card">
        📊 Grafik
    </a>

    <a href="/wordcloud" class="menu-card">
        ☁ WordCloud
    </a>

    <a href="/tabel" class="menu-card">
        📄 Tabel Hasil
    </a>

</div>

{% endblock %}