{% extends 'layout.html' %}

{% block content %}

<div class="card shadow p-4">

    <h2>Hasil Analisis Sentimen</h2>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>No</th>
                <th>Komentar</th>
                <th>Preprocessing</th>
                <th>Sentimen</th>
            </tr>
        </thead>

        <tbody>

            {% for row in hasil %}

            <tr>

                <td>{{ loop.index }}</td>

                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}